<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    </head>

    <body>
        <header class="header">
            <div class="header__arriba">
                <div class="header__encabezado">
                    <img class="header__logo" width="120px" src="./img/logo-mercado-liebre.svg" alt="Imágen mercado liebre">

                    <div class="header__buscador">
                        <input class="header__barra" type="search" placeholder="Buscar productos, marcas...">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
            
                <p class="header__subtexto">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>
                
            <nav class="nav">
                <ul class="nav__ul">
                    <li><a href="#">Oferta</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>

                <ul class="nav__ul2">
                    <li><a href="./register">Crea tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
                    <li><a href="./login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                    <li><a href="#">Mis compras</a><i class="fa-solid fa-cart-shopping"></i></li>
                </ul>
            </nav>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

        </header>

    <br>

    <main class="main">
        <img class="main__homeBanner" width="100%" src="./img/img-home-banner.jpg" alt="Home banner">

        <h2 class="main__titulares">Basado en tu última vista</h2>

        <section class="section__todosArticulos">
            <article class="producto">
                <img class="producto__img" src="./img/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="producto__descripcion">
                    <i class="producto__camion fas fa-truck-moving"></i>
                    <div class="producto__precio-descuento">
                        <p class="producto__precio">$6.770</p>
                        <p class="producto__descuento">40% off</p>
                    </div>
                    <p class="producto__nombre"><strong>Cafetera Moulinex</strong></p>
                </div>
            </article>

            <article class="producto">
                <img class="producto__img" src="./img/img-macbook-pro-2019.jpg" alt="macbook">
                <div class="producto__descripcion">
                    <i class="producto__camion fas fa-truck-moving"></i>
                    <div class="producto__precio-descuento">
                        <p class="producto__precio">$230.000</p>
                        <p class="producto__descuento">20% off</p>
                    </div>
                    <p class="producto__nombre"><strong>MacBook Pro 2019</strong></p>
                </div>
            </article>

            <article class="producto">
                <img class="producto__img" src="./img/img-samsung-galaxy-s10.jpg" alt="telefono samsung">
                <div class="producto__descripcion">
                    <i class="producto__camion fas fa-truck-moving"></i>
                    <div class="producto__precio-descuento">
                        <p class="producto__precio">$70.500</p>
                        <p class="producto__descuento">10% off</p>
                    </div>
                    <p class="producto__nombre"><strong>Samsung Galaxy S10</strong></p>
                </div>
            </article>

            <article class="producto">
                <img class="producto__img" src="./img/img-tv-samsung-smart.jpg" alt="tv">
                <div class="producto__descripcion">
                    <i class="producto__camion fas fa-truck-moving"></i>
                    <div class="producto__precio-descuento">
                        <p class="producto__precio">$23.200</p>
                        <p class="producto__descuento">5% off</p>
                    </div>
                    <p class="producto__nombre"><strong>SmartTv Samsung 43"</strong></p>
                </div>
            </article>
        </section>

        <h2 class="main__titulares">Ofertas</h2>

        <section class="section__todosArticulos">
            <article class="producto">
                <img class="producto__img" src="./img/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="producto__descripcion">
                    <i class="producto__camion fas fa-truck-moving"></i>
                    <div class="producto__precio-descuento">
                        <p class="producto__precio">$6.770</p>
                        <p class="producto__descuento">40% off</p>
                    </div>
                    <p class="producto__nombre"><strong>Cafetera Moulinex</strong></p>
                </div>
            </article>

            <article class="producto">
                <img class="producto__img" src="./img/img-macbook-pro-2019.jpg" alt="macbook">
                <div class="producto__descripcion">
                    <i class="producto__camion fas fa-truck-moving"></i>
                    <div class="producto__precio-descuento">
                        <p class="producto__precio">$230.000</p>
                        <p class="producto__descuento">20% off</p>
                    </div>
                    <p class="producto__nombre"><strong>MacBook Pro 2019</strong></p>
                </div>
            </article>

            <article class="producto">
                <img class="producto__img" src="./img/img-samsung-galaxy-s10.jpg" alt="telefono samsung">
                <div class="producto__descripcion">
                    <i class="producto__camion fas fa-truck-moving"></i>
                    <div class="producto__precio-descuento">
                        <p class="producto__precio">$70.500</p>
                        <p class="producto__descuento">10% off</p>
                    </div>
                    <p class="producto__nombre"><strong>Samsung Galaxy S10</strong></p>
                </div>
            </article>

            <article class="producto">
                <img class="producto__img" src="./img/img-tv-samsung-smart.jpg" alt="tv">
                <div class="producto__descripcion">
                    <i class="producto__camion fas fa-truck-moving"></i>
                    <div class="producto__precio-descuento">
                        <p class="producto__precio">$23.200</p>
                        <p class="producto__descuento">5% off</p>
                    </div>
                    <p class="producto__nombre"><strong>SmartTv Samsung 43"</strong></p>
                </div>
            </article>
        </section>

    </main>

    <br>
    <footer class="footer">
        <section class="footer__info1">
            <article class="footer__info">
                <i class="fa-solid fa-credit-card"></i>
                <h4 class="footer__titulos">Pagá con tarjeta o en efectivo</h4>
                <p class="footer__descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>

            <article class="footer__info">
                <i class="fa-solid fa-gift"></i>
                <h4 class="footer__titulos">Envío gratis desde $ 2.500</h4>
                <p class="footer__descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>

            <article class="footer__info">
                <i class="fa-solid fa-user-shield"></i>
                <h4 class="footer__titulos">Seguridad, de principio a fin</h4>
                <p class="footer__descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </section>

        <section class="footer__info2">
            <article>
                <p class="footer__descripcionFinal">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>
    </footer>
</body>
</html>